<div class="homepage">
  <div class="title">
    <h1 class="name">Chris Pereira</h1>
    <p class="subheader">Full Stack Web Developer</p>
    <p class="city">Toronto, Ontario</p>
  </div>
  <div class="shipcontainer">
    <%= image_tag 'rocketship.png', class: 'rocketship' %>
  </div>
</div>
<div class="contact-info">
  <p class="icons"><a href="https://www.github.com/cubbie"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="https://ca.linkedin.com/in/chris-pereira"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a href="mailto:chris@cubbie.ca"><i class="fa fa-envelope" aria-hidden="true"></i></p>
</div>
<div class="work">
  <h1 class="worktitle">Latest Projects</h1>
</div>
