<div class="homepage">
  <div class="title">
    <h1 class="name">Chris Pereira</h1>
    <p class="subheader">Full Stack Web Developer</p>
    <p class="city">Toronto, Ontario</p>
  </div>
  <div class="shipcontainer">
    <%= image_tag 'rocketship.png', class: 'rocketship' %>
  </div>
</div>
<div class="contact-info">
  <p class="icons"><a href="https://www.github.com/cubbie"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="https://ca.linkedin.com/in/chris-pereira"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a href="mailto:chris@cubbie.ca"><i class="fa fa-envelope" aria-hidden="true"></i></a></p>
</div>
<div class="work">
  <h1 class="worktitle">Latest Projects</h1>
  <div class="latest-projects">
    <a href="https://tranquil-journey-73545.herokuapp.com/" class="project"><%= image_tag 'flare.jpg' %></a>
    <a href="https://blissdesserts.herokuapp.com/" class="project"><%= image_tag 'background2.jpg'  %></a>
    <a href="https://secret-woodland-29699.herokuapp.com/" class="project"><%= image_tag 'cinema.jpg' %></div>
  </div>
</div>
<div class="about-me">
  <div class="my-picture"></div>
  <p class="me-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
