.about-me
  position: relative
  top: 45vh
  left: 45vw
  font-family: "Ubuntu Condensed"
  font-size: 25px
  width: 500px

.picture
  position: absolute
  padding-top: 150px
  width: 400px
  float: left
  left: 15vw
