.homepage
  display: flex
  justify-content: space-around
  align-items: flex-end
  height: 50vh
  flex-direction: row
  flex-wrap: wrap

  .title
    width: 520px

    .name
      font-family: 'Lato'
      font-size: 60px
      text-align: right
      position: relative
      top: 1vh
      opacity: 0
      animation: slideup 0.5s ease-in 0s 1
      animation-fill-mode: forwards

    .subheader
      font-weight: bold
      font-family: 'Bungee Hairline'
      font-size: 30px
      text-align: right
      animation: slidein 0.3s ease-in 0.4s 1
      animation-fill-mode: forwards
      position: relative
      opacity: 0

    .city
      font-weight: bold
      text-align: right
      font-family: 'Bungee Hairline'
      animation: slidein 0.3s ease-in 0.4s 1
      animation-fill-mode: forwards
      position: relative
      opacity: 0

  .shipcontainer
    width: 75px
    height: 150px
    position: relative
    right: 20vw
    // border-bottom: 2px solid black

    .rocketship
      margin: 0 100px
      animation: wiggle 10s ease-in-out 0s infinite

.contact-info
  text-align: center
  margin: 300px 0 100px 0

  .icons
    color: black
    font-size: 50px

.work
  background-color: rgb(54,54,54)
  text-align: center
  padding: 25px 0

  .worktitle
    color: white
    font-size: 40px
    font-family: 'Bungee Hairline'
