.home-page
  color: rgb(255,255,255)
  height: 100vh
  width: 100%
  background: url('footer_lodyas.png')

  .title
    position: relative
    width: 520px
    left: 20%
    top: 35vh

    .name
      font-family: 'Kaushan Script'
      font-size: 80px
      text-align: right
      position: relative
      top: 100px
      opacity: 0
      animation: slideup 1s ease-in 0s 1
      animation-fill-mode: forwards

    .subheader
      font-weight: bold
      font-family: 'Bungee Hairline'
      font-size: 30px
      text-align: right
      animation: slidein 0.5s ease-in 1s 1
      animation-fill-mode: forwards
      position: relative
      right: 100px
      opacity: 0

    .city
      font-weight: bold
      text-align: right
      font-family: 'Bungee Hairline'
      animation: slidein 0.5s ease-in 1s 1
      animation-fill-mode: forwards
      position: relative
      right: 100px
      opacity: 0

.about-page
  height: 100vh
  width: 100vw
  background: url('congruent_pentagon.png')
  display: flex
  flex-direction: column


.portfolio-page
  height: 100vh
  width: 100vw
  background: url('escheresque_ste_@2X.png')

.contact-page
  height: 100vh
  width: 100vw
  background: linear-gradient(to top, #948E99, #2E1437)
  display: flex
  align-content: center
