<!DOCTYPE html>
<html>
  <head>
    <title>Chris Pereira</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="C2yi5mMD4oHS5skjZbQoNpGbtIFrAO3HE8aX3l5ApvQ" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Press+Start+2P|Bungee+Hairline|Josefin+Sans|Bungee" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/4355b7f354.js"></script>
  </head>
  <body class="stop-scrolling">
    <div class="sidebar">
      <div class="home-button sb active">
        Home
      </div>
      <div class="about-button sb">
        About
      </div>
      <div class="portfolio-button sb">
        Portfolio
      </div>
      <div class="contact-button sb">
        Contact
      </div>
    </div>
    <%= yield %>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</html>
